In [17]:
import pandas as pd
import sqlite3

In [18]:
import numpy as np

In [19]:
conn = sqlite3.connect("Details.sqlite")
final = pd.read_sql_query("""Select * from Details """,conn)
conn.close()
final.head()

DatabaseError: Execution failed on sql 'Select * from Details ': no such table: Details

In [20]:
final.shape

NameError: name 'final' is not defined

In [6]:
final["Locality"].values

NameError: name 'final' is not defined

In [1]:
import MySQLdb

ModuleNotFoundError: No module named 'MySQLdb'

In [2]:
import MySQlclient

ModuleNotFoundError: No module named 'MySQlclient'